-if @available_requests.length == 0
  %p
    You have no requests ready for pickup.
-else
  = form_tag({controller: :account, action: :index}, :id => 'available-requests-form') do
    %table#available-requests-table.table.table-striped.table-responsive
      %thead
        %tr
          %th{:scope => 'col', :class => 'myacct-col-5'}
            = check_box_tag 'toggle-all-requests', 1, nil, { :id => '', :class => 'select-all', 'aria-label' => 'Select all' }
            %span.sr-only
              Select all
          %th{:scope => 'col', :class => 'myacct-col-10'} Pick up before
          %th{:scope => 'col', :class => 'myacct-col-50'} Title
          %th{:scope => 'col', :class => 'myacct-col-20'} Author
          %th{:scope => 'col', :class => 'myacct-col-20'} Pick up at
      %tbody
        - @available_requests.each do |c|
          %tr.item{:id => "#{c['iid']}"}
            %td
              = label_tag "select-#{c['iid']}", 'Select', { :class => 'sr-only' }
              = check_box_tag "select-#{c['iid']}", 1, false, { 'aria-label' => 'Select', :title => 'Select' }  
            %td
              = (c['ed'] || c['DueDate']) ? (c['ed'] || c['DueDate']).to_date.strftime('%m/%d/%y') : ''
            %td
              = c['ou_title'] || c['tl']
            %td
              = c['ou_aulast'] || c['au']
            %td
              = c['lo']
    = button_tag 'Export (RIS)', :type => 'submit', :id => 'export-available-requests', :value => 'export-available-requests', :class => 'btn btn-danger'