-if @available_requests.length == 0
  %p
    You have no requests ready for pickup.
-else
  = form_tag({controller: :account, action: :index}, :id => 'available-requests-form') do
    %table#available-requests-table.table.table-striped.table-responsive
      %thead
        %tr
          %th{:scope => 'col', :class => 'myacct-col-50'} Title
          %th{:scope => 'col', :class => 'myacct-col-20'} Author
          %th{:scope => 'col', :class => 'myacct-col-20'} Pick up at
      %tbody
        - @available_requests.each do |c|
          %tr.item{:id => "#{c['iid']}"} 
            %td
              = c['ou_title'] || c['tl']
            %td
              = c['ou_aulast'] || c['au']
            %td.location
              = c['lo']
