- if @checkouts.length == 0 
  %p
    You have no items checked out.
- else
  - Rails.logger.debug "mjc12test: starting checkouts display"
  //= form_tag({controller: :account, action: :handle_actions}, :remote => true, :id => 'checkouts-form') do
  %div.table-responsive
    %table#checkouts-table.table.table-striped
      %thead
        %tr
          %th{:scope => 'col', :class => 'myacct-col-5'}
            = check_box_tag 'toggle-all-checkouts', 1, nil, {:id => '', :class => 'select-all', :style => 'display: none;', 'aria-label' => 'Select all (still loading...)'}
          %th{:scope => 'col', :class => 'myacct-col-10'} Due date
          %th{:scope => 'col', :class => 'myacct-col-50'} Title
          %th{:scope => 'col', :class => 'myacct-col-20'} Author
          %th{:scope => 'col', :class => 'myacct-col-20'} Status
      %tbody
        - @checkouts.sort_by { |c| [c['dueDate'], c['item']['title']] }.each do |c|
          %tr.item{:id => "#{c['item']['itemId']}", :data => {:system => system_tag(c)}}
            %td
              = label_tag "#{c['item']['itemId']}", 'Select', { :class => 'sr-only' }
              = check_box_tag "#{c['item']['itemId']}", 1, false, { 'aria-label' => 'Select', :title => 'Select' }
            %td.date
              - dueDate = ''
              - if c['dueDate']
                -# Dates are now from FOLIO and stored in UTC, e.g. "2022-07-30T03:59:59.000+0000"
                - localDate = Date.parse(c['dueDate']) + Rational(-5, 24)
                - dueDate = localDate.strftime('%-m/%-d/%y')
              = dueDate
            %td
              %div.title
                = cased_title_link c
              -# - if @renewable_lookup_hash && @renewable_lookup_hash[c['item']['itemId']] == 'N'
              -#   %div.badge.badge-secondary
              -#     This item cannot be renewed.
              -# - if c['is_bd']
              %div.source-badge
            %td
              =c['item']['author']
            %td.status
              = status_display c
    = hidden_field_tag 'num_checkouts', @checkouts.length
    - if ENV['MY_ACCOUNT_READONLY']
      %div.mt-4
        %p
          My Account is currently in read-only mode. Items cannot be renewed or cancelled. Please <a href="https://library.cornell.edu/get-help/ask">ask a librarian</a> for assistance if needed.
    - else
      = button_tag 'Renew', :type => 'submit', :id => 'renew', :value => 'renew', :class => 'btn btn-danger'
      %span{:id => 'request-loading-spinner'}

