= form_tag({controller: :account, action: :index}, :id => 'checkouts-form') do
  %table#checkouts-table.table.table-striped.table-responsive
    %thead
      %tr
        %th{:scope => 'col', :class => 'myacct-col-5'}
          = check_box_tag 'toggle-all-checkouts', 1, nil, { :id => '', :class => 'select-all', 'aria-label' => 'Select all' }
          %span.sr-only
            Select all
        %th{:scope => 'col', :class => 'myacct-col-10'} Due date
        %th{:scope => 'col', :class => 'myacct-col-50'} Title
        %th{:scope => 'col', :class => 'myacct-col-20'} Author
        %th{:scope => 'col', :class => 'myacct-col-20'} Status
    %tbody
      - @checkouts.each do |c|
        %tr.item{:id => "#{c['iid']}"}
          %td
            = label_tag "select-#{c['iid']}", 'Select', { :class => 'sr-only' }
            = check_box_tag "select-#{c['iid']}", 1, false, { 'aria-label' => 'Select', :title => 'Select' }
          %td
            = c['od'].to_date.strftime('%-m/%-d/%y')
          %td
            %div
              = cased_title_link c
            - if @renewable_lookup_hash[c['iid']] == 'N'
              %div.label.label-default
                This item cannot be renewed.
          %td
            =c['au']
          %td
            =c['vstatus'] || c['status']
  = hidden_field_tag 'num_checkouts', @checkouts.length
  = button_tag 'Renew', :type => 'submit', :id => 'renew', :value => 'renew', :class => 'btn btn-danger'
  = button_tag 'Export (RIS)', :type => 'submit', :id => 'export-checkouts', :value => 'export-checkouts', :class => 'btn btn-danger'