- if @fines.length == 0
  %p.no-results
    You have no fines or fees.
- else
  %table#pending-requests-table.table.table-striped.table-responsive
    %thead
      %tr
        %th{:scope => 'col', :class => 'myacct-col-10'} Incurred on
        %th{:scope => 'col', :class => 'myacct-col-50'} Title
        %th{:scope => 'col', :class => 'myacct-col-20'} Fine type
        %th{:scope => 'col', :class => 'myacct-col-20'} Amount
    %tbody
      - @fines.each do |f|
        %tr
          %td
            = f['accrualDate'].to_date.strftime('%-m/%-d/%y')
          %td{
            data: (Rails.env.development? ? { blur_target: true } : {}),
            class: (Rails.env.development? && ENV['DEBUG_PRIVACY'] == 'true' ? 'blurred' : nil)
          }
            = f.dig('item', 'title')
          %td
            = f['reason']
          %td
            = number_to_currency(f['chargeAmount']['amount'])
%p
= link_to "View fine rates", "https://www.library.cornell.edu/collections/borrow-renew-return/policies/#fines"