= javascript_include_tag 'application'
= javascript_include_tag 'my_account/account'

- request_types = {'H' => 'Hold', 'R' => 'Recall', 'illiad' => 'Interlibrary Loan', 'bd' => 'Borrow Direct'}
%h3 
  Account information for 
  = "#{@patron['first_name']} #{@patron['last_name']}"

%ul.nav.nav-tabs{:role => "tablist"}
  %li.active{:role => "presentation"}
    = link_to "Checked out (#{@checkouts.count})", "#checkouts", :class => "nav-link active", :data => { :toggle => "tab" }, :role => "tab", :aria => { :controls => "checkouts" }
  %li{:role => "presentation"}
    = link_to "Ready for pickup (#{@available_requests.count})", "#available-requests", :class => "nav-link active", :data => { :toggle => "tab" }, :role => "tab", :aria => { :controls => "available requests" }
  %li{:role => "presentation"}
    = link_to "Pending requests (#{@pending_requests.count})", "#pending-requests", :class => "nav-link active", :data => { :toggle => "tab" }, :role => "tab", :aria => { :controls => "pending requests" }
  %li{:role => "presentation"}
    = link_to "Fines and fees (#{@fines.count})", "#fines", :class => "nav-link active", :data => { :toggle => "tab" }, :role => "tab", :aria => { :controls => "fines and fees" }

%div.tab-content
  %div#checkouts.tab-pane.fade.in.active{:role => "tabpanel"}
    = form_tag({controller: :account, action: :index}, :id => 'checkouts-form') do
      %table#checkouts-table.table.table-striped.table-responsive
        %thead
          %tr
            %th{:scope => 'col', :class => 'myacct-col-5'}
              = check_box_tag 'toggle-all-checkouts', 1, nil, { :id => '', :class => 'select-all', 'aria-label' => 'Select all' }
              %span.sr-only
                Select all
            %th{:scope => 'col', :class => 'myacct-col-10'} Due date
            %th{:scope => 'col', :class => 'myacct-col-50'} Title
            %th{:scope => 'col', :class => 'myacct-col-20'} Author
            %th{:scope => 'col', :class => 'myacct-col-20'} Status
        %tbody
          - @checkouts.each do |c|
            %tr.item{:id => "#{c['iid']}"}
              %td
                = label_tag "select-#{c['iid']}", ''
                = check_box_tag "select-#{c['iid']}", 1, false, { 'aria-label' => 'Select', :title => 'Select' }
              %td
                = c['od'].to_date.strftime('%m/%d/%y')
              %td 
                = link_to "#{c['ou_title'].titleize || c['tl'].titleize}", "https://newcatalog.library.cornell.edu/catalog/#{c['bid']}"
              %td
                =c['au']
              %td
                =c['vstatus']
      = hidden_field_tag 'num_checkouts', @checkouts.length
      = button_tag 'Renew', :type => 'submit', :id => 'renew', :value => 'renew', :class => 'btn btn-danger'
      = button_tag 'Export (RIS)', :type => 'submit', :id => 'export-checkouts', :value => 'export-checkouts', :class => 'btn btn-danger'
  %div#available-requests.tab-pane.fade{:role => "tabpanel"}
    -if @available_requests.length == 0
      There are no available requests.
    -else
      = form_tag({controller: :account, action: :index}, :id => 'available-requests-form') do
        %table#available-requests-table.table.table-striped.table-responsive
          %thead
            %tr
              %th{:scope => 'col', :class => 'myacct-col-5'}
                = check_box_tag 'toggle-all-requests', 1, nil, { :id => '', :class => 'select-all', 'aria-label' => 'Select all' }
              %th{:scope => 'col', :class => 'myacct-col-10'} Pick up before
              %th{:scope => 'col', :class => 'myacct-col-50'} Title
              %th{:scope => 'col', :class => 'myacct-col-20'} Author
              %th{:scope => 'col', :class => 'myacct-col-20'} Pick up at
          %tbody
            - @available_requests.each do |c|
              %tr.item{:id => "#{c['iid']}"}
                %td
                  = label_tag "select-#{c['iid']}", ''
                  = check_box_tag "select-#{c['iid']}", 1, false, { 'aria-label' => 'Select', :title => 'Select' }  
                %td
                  = (c['ed'] || c['DueDate']) ? (c['ed'] || c['DueDate']).to_date.strftime('%m/%d/%y') : ''
                %td
                  = c['ou_title'] || c['tl']
                %td
                  = c['ou_aulast'] || c['au']
                %td
                  = c['los']
        = button_tag 'Export (RIS)', :type => 'submit', :id => 'export-available-requests', :value => 'export-available-requests', :class => 'btn btn-danger'
  %div#pending-requests.tab-pane.fade{:role => "tabpanel"}
    - if @pending_requests.length == 0 
      There are no pending requests.
    - else
      = form_tag({controller: :account, action: :index}, :id => 'pending-requests-form') do
        %table#pending-requests-table.table.table-striped.table-responsive
          %thead
            %tr
              %th{:scope => 'col', :class => 'myacct-col-5'}
                = check_box_tag 'toggle-all-all-requests', 1, nil, { :id => '', :class => 'select-all', 'aria-label' => 'Select all' }
              %th{:scope => 'col', :class => 'myacct-col-10'} Request expires
              %th{:scope => 'col', :class => 'myacct-col-50'} Title
              %th{:scope => 'col', :class => 'myacct-col-20'} Author
              %th{:scope => 'col', :class => 'myacct-col-20'} Type
          %tbody
            - @pending_requests.each do |c|
              %tr.item{:id => "#{c['iid']}"}
                %td
                  = label_tag "select-#{c['iid']}", ''
                  = check_box_tag "select-#{c['iid']}", 1, false, { 'aria-label' => 'Select', :title => 'Select' }  
                %td
                  - pendingRQDueDate = c['NotWantedAfter'] || c['ed']
                  -# = Date.strptime(pendingRQDueDate, '%y-%m-%d').strftime('%m/%d/%y')
                  = pendingRQDueDate
                %td
                  = c['ou_title'] || c['tl']
                %td
                  = c['ou_aulast'] || c['au']
                %td
                  = request_types[c['ttype'] || c['system']]
        = button_tag 'Cancel request(s)', :type => 'submit', :id => 'cancel', :value => 'cancel', :class => 'btn btn-danger'
        = button_tag 'Export (RIS)', :type => 'submit', :id => 'export-pending-requests', :value => 'export-pending-requests', :class => 'btn btn-danger'
  %div#fines.tab-pane.fade{:role => "tabpanel"}
    - if @fines.length == 0
      %p
        You have no fines or fees.
    - else
      %table#pending-requests-table.table.table-striped.table-responsive
        %thead
          %tr
            %th{:scope => 'col', :class => 'myacct-col-10'} Incurred on
            %th{:scope => 'col', :class => 'myacct-col-50'} Title
            %th{:scope => 'col', :class => 'myacct-col-20'} Fine type
            %th{:scope => 'col', :class => 'myacct-col-20'} Amount
        %tbody
          - @fines.each do |f|
            %tr
              %td
                = f['fineDate'][0].to_date.strftime('%m/%d/%y')
              %td
                = f['itemTitle'][0]
              %td
                = f['fineType'][0]
              %td
                = f['amount'][0].gsub('USD ', '$')
    %p
    = link_to "View fine rates", "https://www.library.cornell.edu/services/borrow/fines"