%head
  = javascript_include_tag 'application'
  = javascript_include_tag 'my_account/account'
  = javascript_include_tag 'my_account/tablesort'
  = stylesheet_link_tag 'my_account/application', media: 'all'

-# Initial values (prior to ajax account loading)
- @checkouts = []
- @available_requests = []
- @pending_requests = []
- @fines = []

- if @netid.nil?
  %p ERROR: Your account information could not be retrieved. Please ask a librarian for help or report this using the feedback link below.
- else
  %h2#userName 

  %ul.nav.nav-tabs{:role => "tablist"}
    %li.nav-item{:role => "presentation"}
      = link_to "Checked out", "#checkouts", :class => "nav-link active", :data => { :toggle => "tab" }, :role => "tab", :aria => { :controls => "checkouts" }, :id => "checkoutsTab"
    %li.nav-item{:role => "presentation"}
      = link_to "Ready for pickup", "#available-requests", :class => "nav-link", :data => { :toggle => "tab" }, :role => "tab", :aria => { :controls => "available requests" }, :id => "availableTab"
    %li.nav-item{:role => "presentation"}
      = link_to "Pending requests", "#pending-requests", :class => "nav-link", :data => { :toggle => "tab" }, :role => "tab", :aria => { :controls => "pending requests" }, :id => "pendingTab"
    %li.nav-item{:role => "presentation"}
      = link_to "Fines and fees", "#fines", :class => "nav-link", :data => { :toggle => "tab" }, :role => "tab", :aria => { :controls => "fines and fees" }, :id => "finesTab"

  %div{:class => 'tab-content', :id => 'accountData', :data => { netid: @netid }}
    %div#checkouts.tab-pane.fade.show.active{:role => "tabpanel"}
      %p Loading account data ....
    %div#available-requests.tab-pane.fade{:role => "tabpanel"}
      //= render :partial => 'available_requests'
    %div#pending-requests.tab-pane.fade{:role => "tabpanel"}
      //= render :partial => 'pending_requests'
    %div#fines.tab-pane.fade{:role => "tabpanel"}
      //= render :partial => 'fines'