= javascript_include_tag 'application'
= javascript_include_tag 'my_account/account'

- if @patron.nil?
  %p ERROR: Your account information could not be retrieved. Please ask a librarian for help or report this using the feedback link below.
- else
  %h2.mt-4 
    Account information for 
    = "#{@patron['first_name']} #{@patron['last_name']}"

  %ul.nav.nav-tabs{:role => "tablist"}
    %li.nav-item{:role => "presentation"}
      = link_to "Checked out (#{@checkouts.count})", "#checkouts", :class => "nav-link active", :data => { :toggle => "tab" }, :role => "tab", :aria => { :controls => "checkouts" }
    %li.nav-item{:role => "presentation"}
      = link_to "Ready for pickup (#{@available_requests.count})", "#available-requests", :class => "nav-link", :data => { :toggle => "tab" }, :role => "tab", :aria => { :controls => "available requests" }
    %li.nav-item{:role => "presentation"}
      = link_to "Pending requests (#{@pending_requests.count})", "#pending-requests", :class => "nav-link", :data => { :toggle => "tab" }, :role => "tab", :aria => { :controls => "pending requests" }
    %li.nav-item{:role => "presentation"}
      - if !@nofineinfo.nil?
        = link_to "Fines and fees", "#fines", :class => "nav-link", :data => { :toggle => "tab" }, :role => "tab", :aria => { :controls => "fines and fees" }
      - else
        = link_to "Fines and fees (#{@fines.count})", "#fines", :class => "nav-link", :data => { :toggle => "tab" }, :role => "tab", :aria => { :controls => "fines and fees" }

  %div.tab-content
    %div#checkouts.tab-pane.fade.show.active{:role => "tabpanel"}
      = render :partial => 'checkouts'
    %div#available-requests.tab-pane.fade{:role => "tabpanel"}
      = render :partial => 'available_requests'
    %div#pending-requests.tab-pane.fade{:role => "tabpanel"}
      = render :partial => 'pending_requests'
    %div#fines.tab-pane.fade{:role => "tabpanel"}
      = render :partial => 'fines'